<header>
  <div class="header-container">
    <div class="logo">
      <img src="IMG/logobus1.png" alt="MarBus Logo" class="logo-img" />
    </div>
    <button class="hamburger" id="hamburger" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav id="nav-menu">
      <ul>
        <li><a href="#home">Strona Główna</a></li>
        <li><a href="#about">O Firmie</a></li>
        <li><a href="#services">Usługi</a></li>
        <li><a href="#contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
